name: Publish to npmjs

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun publish
        env:
          BUN_CONFIG_REGISTRY: https://npm.pkg.github.com
          BUN_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUN_CONFIG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
