name: Publish to NPM

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      release_name:
        type: string
        required: true
      tag_name:
        type: string
        required: true

jobs:
  publish:
    environment: a
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node (for npm publish)
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish (npm)
        run: bunx npm publish --registry=https://registry.npmjs.org/ --loglevel info
        env:
          GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ env.GITHUB_TOKEN }}

      - name: Rename package for GitHub
        uses: actions/github-script@v8
        with:
          script: |
            import pkg from "./package.json" with { type: "json" };
            import { writeFile } from "node:fs/promises";

            pkg.name = "@6x68/vm-ui";
            await writeFile("./package.json", JSON.stringify(pkg, null, 2));

      - name: Publish (GitHub)
        run: bunx npm publish --registry=https://npm.pkg.github.com/ --loglevel info
        env:
          GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ env.GITHUB_TOKEN }}

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag_name || github.ref_name }}
          name: ${{ github.event.inputs.release_name || github.ref_name }}
          files: |
            dist/index.js
            dist/index.mjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
