name: Publish to npmjs

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        env:
          BUN_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          registry-url: "https://npm.pkg.github.com"
          scope: 6x68
      - run: bun i && bun publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
