name: Publish to NPM

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  publish:
    environment: publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node (for npm publish)
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish (npm)
        run: bunx npm publish --registry=https://registry.npmjs.org/ --loglevel info
        env:
          GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ env.GITHUB_TOKEN }}
