name: Publish to GitHub Packages

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      release_name:
        type: string
        required: true
      tag_name:
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish (NPM)
        run: bun publish

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag_name || github.ref_name }}
          name: ${{ github.event.inputs.release_name || github.ref_name }}
          files: |
            dist/index.js
            dist/index.mjs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
