name: Publish to npmjs

on:
  push:
    tags:
      - v*

jobs:
  build:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        env:
          BUN_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          registries: "https://npm.pkg.github.com"
      - run: bun i
      - run: bun publish
        env:
          BUN_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
